<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Mes addition</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-card class="light-background" *ngFor="let facture of factures" (click)="goToFacture(facture)">
        <ion-card-content [ngClass]="{'done':facture.done, 'active':!facture.done}">
            <ion-row class="light-row" justify-content-between class="item">
                <div class="facture">{{facture.created_date | date:'hh:mm dd/MM/yy'}}</div>
                <div class="value">{{getSumWithDevise(facture)}}</div>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>

