@import "../../global.scss";

.light-background {
  background-color: $main-blue;
  color: white;
  font-size: 1.9em;
}


.value {
  font-weight: bold;
  font-size: 1.4em;
}

.facture {
  font-size: 1.4em;
}

.done {
  background: #888888;
  padding: 30px;
}

.active {
  padding: 30px;
}
