<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            scan
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding class="content">
    <ng-progress [min]="0" [max]="1"></ng-progress>

    <img id="image" #image [src]="selectedImage" *ngIf="selectedImage" (load)="recognizeImage()">

    <ion-card *ngIf="imageText">
        <ion-card-content>
            {{ imageText }}
        </ion-card-content>
    </ion-card>
    <ion-button icon-only class="button" (click)="selectSource()">
        <ion-icon name="camera" class="icon"></ion-icon>
    </ion-button>
    <ion-button icon-only class="button" *ngIf="scanDone" (click)="validate()">
        <ion-icon name="checkmark-circle" class="icon"></ion-icon>
    </ion-button>
</ion-content>
