@import "../../global.scss";

.default-color {
  height: 47px;
  padding: 0 5%;
  line-height: 47px;
  font-size: 1.2em;
  background-color: rgba(48, 53, 169, 0.2);
  color: $main-blue;
}

.my-product {
  background-color: $main-blue;
  color: white;
}

.other-product {
  background-color: gray;
}

.tips-content {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .tips {
    width: 20%;
    margin-left: 40%;
  }
}

.light-background {
  height: 82%;
}
.footer-user {
  padding: 1%;
}
.users {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-top: 2%;
  overflow: auto;

  .user {
    margin-left: 2%;
  }
}


.user-bubble {
  display: flex;
  flex-direction: row;
  padding-left:5px;
  height: 35px;
  border-radius: 55px;
  color: $main-blue;

  .icon-bubble {
    height: 35px;
    width: 35px;
    text-align: center;
    background-color: white;
    line-height: 35px;
    border-radius: 55px;
    z-index: 2;
    border: 2px dashed $main-blue;
    font-size: 1.2em;

  }

}