<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Valider l'addition</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card class="light-background">
        <ion-card-content>
            <ion-row justify-content-between>
                <div class="quantity">1</div>
                <div class="name">Matrimonio</div>
                <div class="value">9.00</div>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer no-border>
    <ion-toolbar color="secondary" class="footer">
        <ion-row>
            <ion-title content>Total : 46 €</ion-title>
            <ion-button large end>Validate</ion-button>
        </ion-row>

    </ion-toolbar>
</ion-footer>