<ion-content padding>
    <div class="body">
        <div class="item"(click)="goToScan()" tappable>
            <div>
                <ion-icon name="camera" class="icon"></ion-icon>
            </div>
            <div>Scanner une addition</div>
        </div>
        <div class="item" (click)="goToJoin()" tappable>
            <div>Rejoindre une addition</div>
            <div>
                <ion-icon name="bookmark" class="icon"></ion-icon>
            </div>
        </div>
        <div class="item" (click)="goToHistoric()">
            <div>
                <ion-icon name="list-box" class="icon"></ion-icon>
            </div>
            <div>Mes additions</div>
        </div>
        <div class="item" (click)="goToDebt()">
            <div>Soldes entre membres</div>
            <div>
                <ion-icon name="swap" class="icon"></ion-icon>
            </div>
        </div>
    </div>
</ion-content>
