// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

$dark-blue:#001970;
$main-blue:#303f9f;
$light-blue:#1464f6;

$light-azur:#56c8d8;
$main-azur:#0097a7;
$main-azur-20: #0097a720;

$soft-orange:#ff8351;