// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

$dark-blue: unquote('#001970');
$main-blue: unquote('#303f9f');
$light-blue: unquote('#1464f6');

$light-azur: unquote('#56c8d8');
$main-azur: unquote('#0097a7');
$main-azur-20: unquote('#0097a720');

$soft-orange: unquote('#ff8351');

.wideModal {
  .modal-wrapper {
    width: 80%;
    left: calc(20% - (80% / 2));
    height: 60%;
    top: calc(40% - (40% / 2) / 2);
  }
}

