@import "../../global.scss";

.montant {
  padding: 0 5%;
  font-size: 1.1em;
  font-weight: bold;
  color: $main-blue;
  float: right;
}

.montantTotal {
  padding: 5%;
  font-size: 1.3em;
  font-weight: bold;
  color: $main-blue;
  float: right;
}

.user_debt{
  float: right;
  margin-right: 10%;
}

.montant-payerpour{
  float: right;
  margin-top: 12px;
  font-size: 1.1em;
  font-weight: bold;
  color: $main-blue;
  margin-right: 20px;
}

.label-payerpour{
  margin-top: 12px;
  font-size: 1.1em;
  font-weight: bold;
  color: $main-blue;
  float: left;
}


.icon-bubble {
  height: 35px;
  width: 35px;
  text-align: center;
  background-color: white;
  line-height: 35px;
  border-radius: 55px;
  z-index: 2;
  border: 2px dashed $main-blue;
  font-size: 1.2em;
  margin-left: 75%;
  margin-bottom: 10%;
}

