<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Solde entre membres</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-grid>
        <ion-row class="header-row" justify-content-between="">
            <ion-col>Qui</ion-col>
            <ion-col>Doit</ion-col>
            <ion-col>A qui</ion-col>
        </ion-row>
        <ion-row *ngFor="let dette of activeDettes" >
            <ion-col>
                <app-user-bubble [user]="dette.userWho" [active]="false"
                                 class="user"></app-user-bubble>
            </ion-col>
            <ion-col>
                <div class="blockHead" (click)="openModalDebt(dette);"><span class="blocktext">{{dette.amount}} €</span>
                </div>
            </ion-col>
            <ion-col>
                <app-user-bubble [user]="dette.userTo" [active]="false"
                                 class="user"></app-user-bubble>
            </ion-col>
        </ion-row>
        <ion-row class="end-debt">
            <ion-col size="12">
            </ion-col>
        </ion-row>
        <ion-row class="header-row">
            <ion-col size="12">
                Remboursements effectués
            </ion-col>
        </ion-row>
        <ion-row *ngFor="let dette of refundDettes" >
            <ion-col>
                <app-user-bubble [user]="dette.userWho" [active]="false"
                                 class="user"></app-user-bubble>
            </ion-col>
            <ion-col>
                <div class="blockHead-done" (click)="openModalDebt(dette);"><span class="blocktext-done">{{dette.amount}} €</span>
                </div>
            </ion-col>
            <ion-col>
                <app-user-bubble [user]="dette.userTo" [active]="false"
                                 class="user"></app-user-bubble>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>
