<ion-header>
  <ion-toolbar>
    <ion-title>S'enregistrer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="register()" #registerForm="ngForm">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-input type="text" placeholder="Nom" name="name" [(ngModel)]="user.name" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="user.email" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" placeholder="Mot de passe" name="Password" [(ngModel)]="user.password" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" placeholder="Confirmation mot de passe" name="confirmedPassword" [(ngModel)]="confirmedPassword" required></ion-input>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="signup-col">
        <ion-button  (click)="register(user, confirmedPassword)">S'ENREGISTRER</ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
